body {
    font-family:lucida sans unicode;
}

header{
    background-color: Plum;
    border-radius:5px;
    border:3px solid black;
}

h1{
    background-color: OrangeRed;
    text-align: center;border
    border:3px solid black;
    border-radius:5px;
}

footer{
    background-color: orangered;
    border:3px solid black;
    border-radius:5px;
}

a{
    background-color: green;
    border-radius: 5px;
    border:1px solid black;

}

.bubliki{
    background-color: orangered;
    
}
